services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - PHP_INI_SCAN_DIR=:/usr/local/etc/php/conf.d

  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: posyandu_db
      MYSQL_USER: posyandu_user
      MYSQL_PASSWORD: secure_password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
